button{
    background-color: transparent;
    border: none;
}
.eltmenu{
     border : solid 2px rgba(159, 159, 255, 1);
     background-color:  rgba(159, 159, 255, 1);
     color: #fff;
     text-decoration: none;
}
.lienadmin {
    border : solid 2px transparent;
     text-decoration: none;
     color: rgba(51, 51, 51, 1);
;
}