table{
    
    overflow: hidden; 
}

.conteneur-tableau-2{
    width: 1450px;
    overflow-x: auto; 
    border: 0px solid #ccc;
}





.tableau-2{
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 20px;
}

/* En-têtes fixes */




thead{
    border-radius: 20px;
}
.th{
    height: 55px;
    text-align: center;
    background-color: rgba(159, 159, 255, 1);

}
.td{
    
    /*width: 350px;
    white-space: nowrap; /* évite le retour à la ligne */
    height: 55px;
    /*padding: 16px;*/
    text-align: center;
    font-size: 1.2em;
}
.tr{
    background-color:rgba(255, 255, 255, 1);
    border-bottom: 1px solid #ccc;
}
.tr:hover{
    background-color:#F9FF9F;
}
.off{
    color:rgba(204, 204, 204, 1);
}
/*.action{
    width: 200px;
}*/
/*td .check-box{
    width: 100px;
}*/
.bouttons{
    /*width: 80px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
  width: 14px;
  height: 20px;
  border-radius: 30px;
  border: 2px solid #4a59de;
  padding: 3px;
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease;
  cursor: pointer;
}

.toggle-button.on {
   /*background-color: #4a59de; green */
  /*justify-content: flex-end;*/
  border: 2px solid black;
  align-items: flex-end;
}

.toggle-button .circle {
  width: 4px;
  height: 4px;
  background-color: #4a59de;
  border-radius: 50%;
}
.toggle-button .active{
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

